body {
    font-family: 'Times New Roman', Times, serif;
}

#judul{
    color: bisque;
    text-align: center;
}

.bio{
    color: #444;
    font-style: italic;
}

.example-container {
 margin: 8px;
 border: 8px solid red;
 padding: 8px;
 width: 100px;
 height: 100px;
}