:root {
    --primary-color: #261ce7;
    --primary-hover: #4030f3;
    --bg-color: #f8fafc;
    --card-bg: #ffffff;
    --text-main: #040507;
    --text-muted: #64748b;
    --border-color: #e2e8f0;
    --radius: 10px;
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}